
.jeinput{
    display: block;
    width: 175px;
    padding-left: 10px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 3px;
}


